body {
  white-space: normal;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-color: #212121;
  /* 
    background-image: -webkit-linear-gradient(270deg, rgb(77, 15, 158) 42.49%, rgba(22, 38, 107, 0.00) 100%), url("artwork/2023/selfportrait2023_forwebsite.png");
  background-image: -moz-linear-gradient(270deg, rgb(77, 15, 158) 42.49%, rgba(22, 38, 107, 0.00) 100%), url("artwork/2023/selfportrait2023_forwebsite.png");
  background-image: -o-linear-gradient(270deg, rgb(77, 15, 158) 42.49%, rgba(22, 38, 107, 0.00) 100%), url("artwork/2023/selfportrait2023_forwebsite.png");
  background-image: linear-gradient(180deg, rgb(77, 15, 158) 42.49%, rgba(22, 38, 107, 0.00) 100%), url("artwork/2023/selfportrait2023_forwebsite.png");  */
}


.head {
  text-align: center;
  color: white;
  font-size: 600%;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.head2 {
  text-align: center;
  color: white;
  font-size: 600%;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.subheader {
  text-align: center;
  font-size: 250%;
  font-family: "cambria";
  color: white;
  -webkit-text-stroke: .5 black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.subtitle {
  text-align: center;
  font-size: 150%;
  font-family: "cambria";
  color: white;
  -webkit-text-stroke: .5 black;
  text-shadow:
    2px 2px #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

div.newsfeed {
  overflow: hidden;
  /* background-color: rgba(230, 230, 230, 0.247); */
  background-image: linear-gradient(180deg, rgb(247, 214, 229) .5%, rgb(219, 141, 177) 20%, rgb(235, 155, 192) 80%, rgb(228, 124, 181) 90%, rgb(255, 133, 190) 105%, rgb(187, 108, 145) 250%);
  /* border-bottom: ridge 7px rgb(255, 147, 201); */
  user-select: none;
}

.marquee {
  margin-top: -4px;
  margin-bottom: -5px;
  white-space: nowrap;
  color: rgb(236, 236, 236);
  text-shadow: 0px 2px #aa7f97;
  font-size: 50px;
  font-family: "Dongle";
  text-transform: uppercase;
  -moz-animation: marquee 35s linear infinite;
  -webkit-animation: marquee 35s linear infinite;
  animation: marquee 30s linear infinite;
}

.standard {
  font-size: 150%;
  font-family: "cambria";
  color: black;
}

div.standard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

div.navbar {
  background: lightpink;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0px 0 5px black;
  font-family: "cambria";
  border-bottom: ridge 10px hotpink;
}

.navtextcenter {

  text-align: center;
  color: black;
  font-size: 250%;
  text-decoration: none;
  -webkit-text-stroke: .5 black;
  text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.navtext {

  text-align: center;
  font-size: 200%;
  color: black;
  text-decoration: none;
}

div.maincolumns {
  width: 100%;
  height: 100%;
  min-height: 95%;
  display: inline-flex;
  position: absolute;
  /* outline:3px solid red; */
}

.leftcolumn,
.rightcolumn {
  min-height: 100%;
  
}

.leftcolumn {
  display: inline-block;
  width:20%;
  min-width: 20%;
  background-color: rgb(66, 66, 66);
}

.rightcolumn {
  outline:2px solid green;
  width: 100%;
  scrollbar-width: 200px;
  display: inline-flex;
  flex-direction: column;
}



div.centerbuttonp {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding-top: 10%;
  margin: auto;
}

.featured {
  display: inline-flex;
  max-height: 100%;
}

.featuredText {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  color: white;
  background-color: #343434;
}

.panel,
.panelR {
  border: 1px solid  red ;
  max-height: 400px;
  max-width:fit-content;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.panel {
  width: fit-content;
}

.panelR {
  margin-left: auto;
  margin-right: 10%;
}

.artcolumn{
  border: 1px solid yellow;
  display: flex;
  height: fit-content;
  flex-direction: column;
}

.panelArt {
  background-color: #aa7f97;
max-height: fit-content;
max-width: 500px;
min-height: 0px;
  margin: 1px;
  box-shadow: 0px 10px 10px rgb(16, 16, 16);
  transition: .25s;
  z-index: 0;
}

.panelArt:hover
{
  z-index: 10;
  scale: .95;
}

.panelMedia{
  background: rgb(242, 216, 220);
  padding: 15px 25px;
  text-align: center;
  margin: 5px;
  display: inline-block;
  color: black;
  text-decoration: none;
  box-shadow: 0px 0 5px black;
  font-size: 200%;
  font-family: "cambria";
  border: ridge 5px rgb(212, 146, 179);
  object-fit: fill;
}

.panelInfo {
  border: 1px solid green;
  display: inline-flex;
  /* outline:2px solid orange; */
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 1%;
  padding-right: 1%;
  height: fit-content;
  margin-top: 300px;
  width: fit-content;

}

h1,
h3 {
  /* outline:2px solid green; */
  width: 100%;
  color: white;
  height: fit-content;
  margin: auto;

}

h1R {
  display: block;
  color: white;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: right;
  width: 100%;
  height: fit-content;
  margin: auto;
}

h3R {
  display: block;
  color: white;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align: right;
  width: 100%;
  height: fit-content;
  margin: auto;

}


p {
  /* outline:2px solid green; */
  margin: auto;

  width: 100%;
  height: fit-content;
  margin-bottom: 1%;
}

.button {
  background: rgb(113, 113, 113);
  padding: 15px 25px;
  text-align: left;
  margin-bottom: 5px;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  box-shadow: 0px 0 5px black;
  font-size: 200%;
  font-family: "cambria";
  object-fit: fill;
  transition: 0.05s;
}

.button:hover{
  font-size: 225%;
}





.homebutton {
  cursor: pointer;
  position: relative;
}

.pinkwindow {
  display: flex;
  justify-content: space-evenly;
  align-self: center;
  align-items: center;
  background: lightpink;
  border: ridge 5px hotpink;
  height: 10%;
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
}

table,
th,
td {
  font-size: 130%;
  /* border: 1px solid black ; */
  font-family: "cambria";
  color: black;
  padding: 20px;
  text-indent: 50px;
  white-space: normal;
  overflow-wrap: break-word;
  justify-content: space-evenly;

}

table {
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.button:hover {
  box-shadow: 0 0 10px black;
}

.subbutton {
  background-color: #E8736A;
  padding: 7px 15px;
  text-align: center;
  margin: auto;
  width: 70px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.subbutton:hover {
  opacity: 0.7;
}

.sublink {
  background-color: white;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  color: black;
  text-decoration: none;
}

div.centertext {
  position: relative;
  height: 80px;
  margin: auto;
}

iframe {
  margin: auto;
  display: block;
}

.sm_icon {

  width: 50px;

}

/*phones*/
@media (max-width: 400px) {


  .head {
    font-size: 300%;
  }

  .head2 {
    font-size: 300%;
  }

  .subheader {
    font-size: 120%;
    text-align: center;
  }

  .standard {
    font-size: 120%;
  }

  .subtitle {
    font-size: 100%;
  }

  div.centerbuttonp {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: auto;
    margin: auto;
  }

  .button {
    padding: 25px 35px;
    margin: 10px;
    text-align: center;
    display: block;
    font-size: 200%;
  }

  div.navbar {
    display: none;
  }

  div.pinkwindow {
    width: 90%;
    flex-wrap: wrap;

  }

}

/*tablets*/
@media (min-width : 401px) and (max-width : 1000px) {
  .head {
    font-size: 400%;
  }

  .head2 {
    font-size: 400%;
  }

  .subheader {
    font-size: 150%;
  }

  .subtitle {
    font-size: 120%;
  }

  .standard {
    font-size: 150%;
  }

  div.centerbuttonp {
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin: auto;
  }

  div.pinkwindow {
    width: 75%;
  }

  .button {
    padding: 25px 35px;
    margin: 10px;
    text-align: center;
    font-size: 200%;
  }

  .navtextcenter,
  .navtext {
    font-size: 175%;
  }

}

@media (min-width: 1001px) {
  .head2 {
    font-size: 400%;
  }
}



@-moz-keyframes marquee {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(-150%);
  }
}

@-webkit-keyframes marquee {
  0% {
    transform: translateX(150%);
  }

  100% {
    transform: translateX(-150%);
  }
}

@keyframes marquee {
  0% {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(200%);
    transform: translateX(125%);
  }

  100% {
    -moz-transform: translateX(-200%);
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}