body {
    background-color: #60788F;
    background-repeat: no-repeat;
    background-position: center -37px;
    background-image: -webkit-linear-gradient(270deg,rgba(96,120,143,1.00) 42.49%,rgba(22,38,107,0.00) 100%), url("portfolio/2021/selfportrait.png");
    background-image: -moz-linear-gradient(270deg,rgba(96,120,143,1.00) 42.49%,rgba(22,38,107,0.00) 100%), url("portfolio/2021/selfportrait.png");
    background-image: -o-linear-gradient(270deg,rgba(96,120,143,1.00) 42.49%,rgba(22,38,107,0.00) 100%), url("portfolio/2021/selfportrait.png");
    background-image: linear-gradient(180deg,rgba(96,120,143,1.00) 42.49%,rgba(22,38,107,0.00) 100%), url("portfolio/2021/selfportrait.png");
}
.head{
  text-align: center;
  color: white;
  font-size: 600%;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.head2{
  text-align: center;
  color: white;
  font-size: 600%;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.subheader{
  text-align:center;
  font-size:250%;
  font-family:"cambria";
  color: white;
  -webkit-text-stroke: .5 black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.subtitle{
  text-align:center;
  font-size:150%;
  font-family:"cambria";
  color: white;
  -webkit-text-stroke: .5 black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.button{
  background:lightpink;
  padding:25px 35px;
  text-align:center;
  margin: 10px;
  display:inline-block;
  color:black;
  text-decoration:none;
  box-shadow: 0px 0 5px black;
  font-size:200%;
  font-family:"cambria";
	border: ridge 10px hotpink;
}
.homebutton{
  cursor: pointer;
  position: relative;
}

div.centerbuttonp
{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
  width:1000px;
  height:auto;
  margin:auto;
}

.pinkwindow{
	left:auto;
	background:lightpink;
	border: ridge 10px hotpink;
}

.button:hover {
  box-shadow: 0 0 10px black;
}

.subbutton{
  background-color:#E8736A;
  padding:7px 15px;
  text-align:center;
  margin:auto;
  width: 70px;
  display:inline-block;
  color:white;
  text-decoration:none;
}
.subbutton:hover{
  opacity: 0.7; 
}
.sublink{
  background-color:white;
  padding: 5px 5px;
  text-align:center;
  display: inline-block;
  color: black;
  text-decoration:none;
}
div.centertext
{
  position:relative;
  height:80px;
  margin:auto;
}

iframe {
  margin: auto;
  display:block;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #494949;
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 60px;
  box-shadow: 0px 0 black, 0 0px black, 5px 0 30px 0px black, 0 0px black;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.navimg {
  position: sticky;
  top: 15px;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.sm_icon{

  width: 50px;
  padding:25px;

}

/*phones*/
@media (max-width: 400px){

	
	.head{
	font-size: 400%;
	}
	.head2{
	font-size: 300%;
	}
	.subheader{
	font-size:120%;
		text-align: center;
	}
	.subtitle{
	font-size:100%;
	}
	
	div.centerbuttonp{
		  display: inline;
  justify-content: center;
  align-items: center;
  width:1000px;
  height:auto;
  margin:auto;
	}
	
	.button{
  padding:25px 35px;
		margin:20px;
  text-align:center;
  display:block;
  font-size:200%;
	}

}

/*tablets*/
@media ( min-width : 401px ) and (max-width : 1000px ){	   
		.head{
	font-size: 400%;
	}
	.head2{
	font-size: 400%;
	}
	
	.subheader{
		font-size:150%;
	}
	.subtitle{
		font-size:120%;
	}
	
	div.centerbuttonp{
  justify-content: center;
  align-items: center;
  width:85%;
  height:auto;
  margin:auto;
	}
	
	.button{
  padding:25px 35px;
		margin:10px;
  text-align:center;
  font-size:200%;
	}
}

@media (min-width: 1001px){
	.head2{
	font-size: 400%;
	}
}
