body {
	margin: 0;
	padding: 0;
  background-color: #60788F;
  background-repeat: no-repeat;
  background-position: center -37px;
  background-image: -webkit-linear-gradient(270deg, rgba(96, 120, 143, 1.00) 42.49%, rgba(22, 38, 107, 0.00) 100%), url("portfolio/2021/selfportrait.png");
  background-image: -moz-linear-gradient(270deg, rgba(96, 120, 143, 1.00) 42.49%, rgba(22, 38, 107, 0.00) 100%), url("portfolio/2021/selfportrait.png");
  background-image: -o-linear-gradient(270deg, rgba(96, 120, 143, 1.00) 42.49%, rgba(22, 38, 107, 0.00) 100%), url("portfolio/2021/selfportrait.png");
  background-image: linear-gradient(180deg, rgba(96, 120, 143, 1.00) 42.49%, rgba(22, 38, 107, 0.00) 100%), url("portfolio/2021/selfportrait.png");
}

.head {
  text-align: center;
  color: white;
  font-size: 600%;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.head2 {
  text-align: center;
  color: white;
  font-size: 600%;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.subheader {
  text-align: center;
  font-size: 250%;
  font-family: "cambria";
  color: white;
  -webkit-text-stroke: .5 black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.subtitle {
  text-align: center;
  font-size: 150%;
  font-family: "cambria";
  color: white;
  -webkit-text-stroke: .5 black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.standard {
  font-size: 150%;
  font-family: "cambria";
  color: black;
}

div.standard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

div.navbar{
	background: lightpink;
	padding:10px;
	display: flex;
	flex-wrap:wrap;
	flex-basis: auto;
	align-items:center;
	justify-content: space-evenly;
	box-shadow: 0px 0 5px black;
	font-family: "cambria";
	border-bottom: ridge 10px hotpink;
}

.navtextcenter{
	
  text-align: center;
	color: black;
	font-size:250%;
	text-decoration: none;
	-webkit-text-stroke: .5 black;
	text-shadow:
	-1px -1px 0 white,
	1px -1px 0  white,
	-1px 1px 0  white,
	1px 1px 0 white;
}
.navtext{
	
  text-align: center;
	font-size:200%;
  color: black;
  text-decoration: none;
}

.button {
  background: lightpink;
  padding: 25px 35px;
  text-align: center;
  margin: 10px;
  display: inline-block;
  color: black;
  text-decoration: none;
  box-shadow: 0px 0 5px black;
  font-size: 200%;
  font-family: "cambria";
  border: ridge 10px hotpink;
}

.reloadbutton {
  background: lightpink;
	width:25px;
	height:25px;
	border-radius:100%;
  color: black;
  text-decoration: none;
  box-shadow: 0px 0 5px black;
  font-family: "cambria";
  border: ridge 10px hotpink;
	float:right;
	margin-top:-5%;
	margin-right:30%;
}
.reloadbutton:hover{
	animation: rotation 1s ease infinite;
}
	

.homebutton {
  cursor: pointer;
  position: relative;
}

div.centerbuttonp {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-self:center;
	align-items: center;
	width: 1000px;
	height: auto;
	margin: auto;
}

.pinkwindow {
	display:flex;
		justify-content: space-evenly;
	align-self:center;
	align-items: center;
	background: lightpink;
	border: ridge 10px hotpink;
	height:10%; 
	margin:auto;
	margin-bottom:10px;
	width:50%;
}

.button:hover {
  box-shadow: 0 0 10px black;
}

.subbutton {
  background-color: #E8736A;
  padding: 7px 15px;
  text-align: center;
  margin: auto;
  width: 70px;
  display: inline-block;
  color: white;
  text-decoration: none;
}

.subbutton:hover {
  opacity: 0.7;
}

.sublink {
  background-color: white;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  color: black;
  text-decoration: none;
}

div.centertext {
  position: relative;
  height: 80px;
  margin: auto;
}

iframe {
  margin: auto;
  display: block;
}

.sm_icon {

  width: 50px;

}


/*RELOAD ARROW*/

@keyframes rotation {
  100% {
    transform: rotate(-360deg);
  }
}


/*phones*/
@media (max-width: 400px) {


  .head {
    font-size: 300%;
  }

  .head2 {
    font-size: 300%;
  }

  .subheader {
    font-size: 120%;
    text-align: center;
  }

  .standard {
    font-size: 120%;
  }

  .subtitle {
    font-size: 100%;
  }

  div.centerbuttonp {
    display: inline;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: auto;
    margin: auto;
  }

  .button {
    padding: 25px 35px;
    margin: 20px;
    text-align: center;
    display: block;
    font-size: 200%;
  }

	div.navbar{
		display:none;
	}
	
	div.pinkwindow{
		width:90%;
		flex-wrap:wrap;
			
	}

}

/*tablets*/
@media (min-width : 401px) and (max-width : 1000px) {
  .head {
    font-size: 400%;
  }

  .head2 {
    font-size: 400%;
  }

  .subheader {
    font-size: 150%;
  }

  .subtitle {
    font-size: 120%;
  }

  .standard {
    font-size: 150%;
  }

  div.centerbuttonp {
    justify-content: center;
    align-items: center;
    width: 85%;
    height: auto;
    margin: auto;
  }
	
	div.pinkwindow{
		width: 75%;
	}

  .button {
    padding: 25px 35px;
    margin: 10px;
    text-align: center;
    font-size: 200%;
  }
	
	.navtextcenter, .navtext{
	font-size:175%;
}
	
}

@media (min-width: 1001px) {
  .head2 {
    font-size: 400%;
  }
}

.marquee {
  white-space: nowrap;
  text-align: center;
  color: white;
  font-size: 600%;
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
  text-transform: uppercase;
  -webkit-text-stroke: 2px black;
  text-shadow:
    3px 3px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  -moz-animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
  }
  @-moz-keyframes marquee {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(-150%);
    }
  }
  @-webkit-keyframes marquee {
    0% {
      transform: translateX(150%);
    }
    100% {
      transform: translateX(-150%);
    }
  }
  @keyframes marquee {
    0% {
      -moz-transform: translateX(150%);
      -webkit-transform: translateX(150%);
      transform: translateX(150%)
    }
    100% {
      -moz-transform: translateX(-150%);
      -webkit-transform: translateX(-150%);
      transform: translateX(-150%);
    }
  }