.verticalLine
{
    width:10px;
    border-radius: 5px;
    height: 100px;
    background-color: black;
    margin-top: 10%;
    z-index: -1;
}

.timeline{
    margin: auto;
    height: 50%;
    display: flex;
    flex-direction: row;
    border: 1px solid yellow;
}

.archiveButton{
  padding: 15px 25px;
  writing-mode: vertical-lr;
  text-align: center;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 350%;
  font-family: "cambria";
  object-fit: fill;
    transform: translateX(37%);
  transition: 0.05s;
}

.book{
    margin-left: -100px;
    width: 200px;
    background-position: center;
    background-image: url(../imgsforhosting/book.png);
    background-repeat: no-repeat;
}

.book:hover{
    background-image: url(../imgsforhosting/book2.png);
    
    width: 200px;
    z-index: 50;
}
